body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.p-20 {
  padding: 20px;
}

.text-white {
  color: white;
}

.container {
  margin: 0 300px;
  background-color: darkgreen;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justity-center {
  justify-content: center;
}
.justity-between {
  justify-content: space-between;
}

.card {
  height: 100%;
  width: 100%;
}

.card-space {
  border: 2px solid white;
  height: 200px;
  width: 120px;
  margin-bottom: 10px;
  cursor: pointer;
}
